header{
    height: 250px;
    width: 750px;
}
#banner{
    width:500px;
    height: 250px;
    background-color: blue;
    float: left;
}
#logo{
    width: 250px;
    height: 125px;
    background-color: red;
    float: right;
}
#fotologo{
    height: 120px;
    width: 245px;
}
#login{
    width: 250px;
    height: 125px;
    background-color: green;
    float: right;
}
nav{
    height: 50px;
    width: 750px;
    background-color:crimson;
}
#main{
    height: 400px;
    width: 750px;
    background-color: maroon;
}
#aside_left{
    height: 400px;
    width: 150px;
    background-color: gold;
    float: left;
}
#article{
    height: 400px;
    width: 500px;
    background-color:silver;
    float: left;
}
#aside_right{
    height: 400px;
    width: 100px;
    background-color:burlywood;
    float: left;
}
footer{
    height: 50px;
    width: 750px;
    background-color: magenta;
}